<h4 class="sub-header">笑话列表({{.count}}) | <a href="{{ urlfor "JokeController.Add"}}">新建笑话</a></h4>
<div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Title</th>
			<th>分类</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		{{range $k,$v := .list}}
		<tr>
			<td>{{$v.Id}}</td>
			<td>{{$v.Title}}</td>
			<td>{{$v.Category.Cname}}</td>
			<td>
				<a href="/admin/joke/edit?id={{$v.Id}}" title="编辑" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span>编辑<a>
				<a href="/admin/joke/delete?id={{$v.Id}}" title="删除" class="btn btn-danger btn-xs" onclick="return confirm('一旦删除将不可恢复，确定吗？');"><span class="glyphicon glyphicon-remove"></span>删除<a>
			</td>
		</tr>
		{{end}}
	</tbody>
	<tfoot>
			<tr>
				<td colspan="20">{{str2html .pagebar}}</td>
			</tr>
		</tfoot>
</table>
</div>