<h4 class="sub-header">添加笑话 | <a href="{{urlfor "JokeController.List"}}">笑话列表</a></h4>
<div>
<form class="form-horizontal" role="form" method="post">
	<div class="form-group">
		<label for="title" class="col-md-1 control-label">标题:</label>
		<div class="col-md-8">
			<input type="text" class="form-control" id="title" name="title">
		</div>
		<div class="col-md-3">
			<span class="text-danger">{{.errmsg.name}}</span>
		</div>
	</div>
	<div class="form-group">
		<label for="cid" class="col-md-1 control-label">分类:</label>
		<div class="col-md-8">
			<select name="cid" id="category" class="form-control">
				{{range $k,$v := .categories}}
					<option value="{{$v.Id}}">{{$v.Cname}}</option>
				{{end}}
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="content" class="col-md-1 control-label">内容:</label>
		<div class="col-md-11">
			
			<script type="text/javascript" charset="utf-8">
						window.UEDITOR_HOME_URL = "/static/ueditor/";
					</script>
					<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
					<script type="text/javascript" src="/static/ueditor/ueditor.all.min.js"></script>
					<script type="text/plain" id="content" name="content"></script>
					<script type="text/javascript" charset="utf-8">
						var options = {"fileUrl":"/admin/article/upload","filePath":"","imageUrl":"/admin/article/upload","imagePath":"","initialFrameWidth":"100%","initialFrameHeight":"400"};
						var ue = UE.getEditor("content", options);
					</script>


		</div>
		
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button type="submit" class="btn btn-primary">新增</buttou> 
			<button type="button" class="btn btn-default" onclick="javascript:history.back();">取消</button>
		</div>
	</div>
</form>
</div>