<h4 class="sub-header">用户列表({{.count}}) | <a href="{{ urlfor "UserController.Add"}}">新建用户</a></h4>
<div class="table-responsive">
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>用户名</th>
			<th>密码</th>
			<th>邮件</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		{{range $k,$v := .list}}
		<tr>
			<td>{{$v.Id}}</td>
			<td>{{$v.Username}}</td>
			<td>{{$v.Password}}</td>
			<td>{{$v.Email}}</td>
			<td>
				<td><a href="/admin/user/edit?id={{$v.Id}}">Edit</a> |  <a href="/admin/user/delete?id={{$v.Id}}" onclick="return confirm('一旦删除将不可恢复，确定吗？');">Del</a> </td>
			</td>
		</tr>
		{{end}}
	</tbody>
</table>
</div>